{% extends 'base.html' %}


{% block content %}
<h1>BOOKING SITE</h1>
{{message}}
<h3>rooms:</h3>
<ul>
    <div class="da">
{% for room in rooms %}
<div class="card" style="width: 18rem;">
<img src="{{room.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><span class="badge text-bg-warning">Room: {{room.number}}</span></h5>
    <p class="card-text">{{room.description}}</p>
    <a href="#" class="btn btn-primary">Price: {{room.price}}₴</a>
  </div>
</div>
{% endfor %}
</div>
</ul>
{% endblock %}
